<h1>Register</h1>
<div ng-if="registerCtrl.message" class="alert alert-success" role="alert">
    <p>{{registerCtrl.message}}</p>
</div>
<div ng-if="registerCtrl.err" class="alert alert-danger" role="alert">
    <p>{{registerCtrl.err}}</p>
</div>

<form ng-hide="registerCtrl.message" name="register" ng-submit="registerCtrl.register()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" 
        id="name" placeholder="Name" 
        ng-model="registerCtrl.name" autocapitalize="on" />
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" 
        id="username" placeholder="Username" 
        ng-model="registerCtrl.username" autocapitalize="none" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"
         id="password" placeholder="Password"
          ng-model="registerCtrl.password" autocapitalize="none" />
    </div>
    <div class="form-group">
        <label for="password-repeat">Repeat Password</label>
        <input type="password" class="form-control"
         id="passwordRepeat" placeholder="PasswordRepeat" 
         ng-model="registerCtrl.passwordRepeat" autocapitalize="none" />
    </div>
    <button type="submit" class="btn btn-success">Register</button>
</form>